h1 {
    text-align: center;
    font-family: Comic Neue;
    font-size: 40px;
    color: rgb(116, 16, 16);
}
form{
    background-color: rgb(219, 210, 221);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 400px;
}
h2{
    display: flex;
    justify-content: space-between;
}
button {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(43, 31, 97);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h3 {
    text-align: center;
    font-family: onest;
    font-size: 30px;
    color: rgb(7, 61, 28);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Happy Monkey;
}
p  {
    text-align: center;
    font-family: Englebert;
    font-size: 30px;
    color: rgb(52, 13, 78);
    padding: 10px;
    background-color: rgb(234, 241, 240);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}
ul {
    margin-bottom: 10px;
    background-color: rgb(241, 236, 234);
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
}   